<header class="navbar mx-3 sticky-top bg-dark flex-md-nowrap p-0 shadow rounded-bottom">
<a class="navbar-brand col-md-3 col lg-2 me-0 px-3 text-light" href="#">Cocktail King</a>

</header>
<nav class="navbar navbar-fixed-top bg-light mx-5 p-0 shadow rounded-bottom " #navbarMenu>
    <div class="container-fluid d-flex ms-2 my-1">
        <div class="navbar-brand fs-6 ">
            <div class="nav-item d-inline" type="button" style="margin-right: 20px;"routerLink="/home">Home</div>
            <div class="nav-item d-inline" type="button" style="margin-right: 20px;" routerLink="/recipes">Recipes</div>
            <div class="nav-item d-inline" type="button" style="margin-right: 20px;"  routerLink="/localBars">Local Bars</div>
            <div class="nav-item d-inline" type="button" routerLink="/competition">Competition</div>
        </div>
    </div>
</nav>
